*{
    margin: 0;
    padding: 0;
    font-family: 'LoRes';
}
#pokedex{
    background-image: url("../img/bg.svg");
    background-repeat: no-repeat;
    width: 70vmax;
    height: 50vmax;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    /* you can also say repeat (2,1fr)*/
}


/* placing the sections into the right grid box and adding padding and margin*/
.displayPokemon{
    padding:20vmax 0 0 5vmax;
    grid-row: 1/2;
    grid-column: 1/2;
}
.search{
    grid-column: 1/2;
    grid-row: 3/4;
}
.moves{
    grid-column: 2/3;
    grid-row: 1/2;
    padding:20vmax 0 0 5vmax;
    display: flex;
}
.evolution{
    grid-column: 3/4;
    grid-row: 1/2;
}
.buttonsRigth{
    grid-column: 2/4;
    grid-row: 3/4;
}



.button{
    background-color: rgb(255, 211, 154);
    border: solid 4px black;
    padding: 6px;
    border-radius:5px;
    color: black;
    font-size: 16px;

}
.button:hover {
    cursor: pointer;
    background: rgb(255, 166, 91);
    color: black;
    transition: all 0.2s;
    border: solid 4px black;

}
#input{
    border: solid 4px black;
    background-color: rgb(255, 245, 205);
    padding: 6px;
    border-radius:5px;
    margin-right:10px ;
    margin-bottom: 10px;
}

@font-face {
    font-family: "LoRes";
    src: url("../img/LoRes12OT-BoldAltOakland.ttf");
    font-style: normal;
    font-weight: 100;
}