*{
    margin: 0;
    padding: 0;
    font-family: 'LoRes';
    font-size:  1.5vmax;
}
.title{
    margin: 2vh 0 2vh 2vw;
}
#container{
    margin: 0 auto;
}
#pokedex{
    margin: auto;
    background-image: url("../img/bg.svg");
    background-repeat: no-repeat;
    width: 70vmax;
    height: 50vmax;
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr  1fr;
    justify-items: center;
    align-items: center;

    /* you can also say repeat (2,1fr)*/
}


/* placing the sections into the right grid box and adding padding and margin*/
.displayPokemon{

    margin-top: 45%;
    grid-row: 1/2;
    grid-column: 1/2;


    position: relative;
}
.icon{
    width: 12vmax;
    display: none;
}
.search{
    grid-column: 1/2;
    grid-row: 2/3;
    position: relative;
    margin: 9vh 4vw 0.5px 4vw;
    display: block;
}
#input{
    border: solid 4px black;
    background-color: rgb(255, 245, 205);
    padding: 6px;
    border-radius:5px;
    position: relative;

}
.hiddenStuff{
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0 6vmax 0 6vmax;
    margin-top: 35%;
    position: relative;

}
#description{
margin-top: 2vh;
}
#moves{
    font-size:  2vmax;
}
#evolution{
    display: none;
}
.buttonsRight{
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 3vw;
    display: flex;
    margin-top: 40px;
    position: relative;

}



.button{
    background-color: rgb(255, 211, 154);
    border: solid 4px black;
    padding: 6px;
    border-radius:5px;
    color: black;
    font-size: 16px;
    position: relative;
    margin: 1vw 1vw 0 0;


}
.button:hover {
    cursor: pointer;
    background: rgb(255, 166, 91);
    color: black;
    transition: all 0.2s;
    border: solid 4px black;

}


@font-face {
    font-family: "LoRes";
    src: url("../img/LoRes12OT-BoldAltOakland.ttf");
    font-style: normal;
    font-weight: 100;
}

li{
    list-style-type:none
}